body {
    background: linear-gradient(to right, #ffa600, #00146d);
    margin: 0;
   
  
}
h1 {
 text-align: center;
 color: #ffe96a;
 
 

   
}

.personaje {
  display: flex;
  border: 2px solid #ce8600;
  border-radius: 8px;
  padding: 1em;
  padding-top: 5em;
  padding-bottom: 5em;
  margin-bottom: 2em;
  background: #F4F9F3;
}

.personaje img {
  max-width: 430px;
  margin-right: 1em;
  align-self: flex;
  border-radius: 20px;
}

/*La existencia de un doble perfil significa que alguna vez existió el mono perfil, que está abajo pero no es un perfil persé*/
.doble-perfil {
  display: flex;
  width: 100%;
  gap: 1em;
  
}

.perfil {
  flex: 100;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(255, 189, 103);
  
}

.nombre {
  text-align: center;
  margin-bottom: 0.5em;
}

.datos p, .descripcion p { /*Datos en general unificados, lo pongo así por que no quiero que me cambie futuros párrafos en otro sitio*/
  margin: 20px;
  color: rgb(49, 30, 0);
  size: 2px;
  font-size: 18px;
}

.descripcion {
  margin-top: 1em;
  flex-grow: 1;
  margin: 20px;
  font-style: italic;
}

.musica {
  margin-top: 1em;
  text-align: center;
}
audio {
    width: 700px;
}

/*Botón para volver*/

.botonB {
  position: fixed;
  bottom: 15px;
  left: 20px;
  z-index: 1000; /* Para que no se quede por detrás */
  
}
.botonB img {
width: 60px;
  height: 60px;
}